* {
  margin: 0;
  padding: 0;
}

#principalContainer {
  height: 100vh;
  width: 100vw;
  background: black;
  display: grid;
  place-content: center;
}

.colored {
  background-color: black;
}

.uncolored {
  background-color: black;
}
